body {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1em;
}

header img {
    width: 10%;
}

.icon-profile {
    margin-right: auto;
}

.icon-chat {
    margin-left: auto;
}

.dog-foot-logo {
    align-self: center;
    width: 20%;
}

.avatar {
    max-width: 765px;
    width: 98%;
    height: 75%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}