body {
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #FFFFFF 0%, #F6F7FB 100%);
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1em;
}

header img {
    width: 6%;
}

.icon-profile {
    margin-right: auto;
}

.icon-chat {
    margin-left: auto;
}

.dog-foot-logo {
    align-self: center;
    width: 15%;
}

.avatar {
    max-width: 765px;
    background-size: cover;
    width: 98%;
    height: 85%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

p {
    position: absolute;
    bottom: 100;
    margin-left: 0.7em;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #FFFFFF;
}

.badge {
    margin: 2.188em 0 0 0.75em;
    width: 30%;
    transform: rotate(-30deg);
}

.like-badge, .nope-badge {
    display: none;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em 0;
    gap: 1em;
}

footer img {
    background: #FFFFFF;
    border-radius: 50%;
    box-shadow: 0px 10px 20px #E9E9EA;
    padding: 0.8em;
}

/* Media query */
@media(min-width: 768px) {
    header {
        padding: 0 27em;
    }

    .avatar {
        width: 40%;
    }
}





